<div class="container">
    {{#each result}}
        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h2 class="header">{{title}}</h2>
                        <p></p>
                    </div>
                    <div class="card-action">
                        <a href="{{link}}">{{link}}</a>
                        <a class="waves-effect waves-light btn" id="save">save</a>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
