
        <div class="row">
            {{#each result}}
                    <div class="col s12 m6">
                        <div class="card-panel teal">
                            <form action="/save" method="post">
                                <h5>{{title}}</h5>
                                <a href="{{link}}">Full Article</a>
                                <input type="submit" value="save" class="save">
                            </form>
                        </div>
                    </div>
            {{/each}}
        </div>

