
        <div class="row">
            {{#each result}}
                    <div class="col s12 m6">
                        <div class="card-panel teal">
                            <form action="/save" method="post">
                                <input type="text" value="{{title}}">
                                <input type="text" value="{{link}}">
                                <input type="submit" value="save" class="save">
                            </form>
                        </div>
                    </div>
            {{/each}}
        </div>

