<div class="container">
    {{#each}}
        <div class="col s12 m7">
            <h2 class="header">{{this.tittle}}</h2>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{this.img}}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p></p>
                    </div>
                    <div class="card-action">
                        <a href="{{this.link}}">{{this.link}}</a>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
